[github]
	user = gopherj
[user]
	email = alex_cj96@foxmail.com
	name = Cheng JIANG
[core]
    quotepath = false
    autocrlf = input
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
# [url "ssh://git@github.com/"]
#     insteadOf = https://github.com/
# [http]
# 	proxy = http://127.0.0.1:10086
# [https]
# 	proxy = http://127.0.0.1:10086
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
rebase = false
