[github]
	user = gopherj
[user]
	email = alex_cj96@foxmail.com
	name = Cheng JIANG
[core]
    quotepath = false
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
# [http]
# 	proxy = http://127.0.0.1:10086
# [https]
# 	proxy = http://127.0.0.1:10086

