book
dist
build

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.bib

.DS_Store
**/.DS_Store

.idea
.vscode
.project
.settings

cache
out
cache-zk
artifacts
artifacts-zk

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
coverage
coverage.json
**/yarn-error.log

.env

target

logs/
