.DS_Store
**/jmsconfig.json
**/.wakatime.cfg
ssh/config
openvpn/configs/*.ovpn
switchy-omega/OmegaOptions.bak
systemd/*.service
!systemd/services/services.csv
cache/
clash/*.yaml
**/filebrowser.db
**/database/
cmake/build
cmake/.cache
target/

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
