[Desktop Entry]
Name=Obsidian
Exec=/home/cj/Projects/obsidian/obsidian.AppImage
Type=Application
Icon=/home/cj/Projects/dotfiles/icons/obsidian.png
StartupNotify=true
