[Desktop Entry]
Name=Zotero
Exec=/home/cj/Projects/zotero/zotero
Type=Application
Icon=/home/cj/Projects/dotfiles/icons/zotero.png
StartupNotify=true
