BasedOnStyle: Google

BreakBeforeBraces: Stroustrup

PointerAlignment: Right

MaxEmptyLinesToKeep: 1

ColumnLimit: 80

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true

AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right

SpacesInSquareBrackets: false
SpacesInParentheses : false
SpacesInContainerLiterals: true
SpaceBeforeParens: ControlStatements

SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true

BreakConstructorInitializersBeforeComma: true

IndentCaseLabels: true

SortIncludes: true
SortUsingDeclarations: true

IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
UseTab: Never
BinPackParameters:  true

BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeElse: true
    BeforeCatch: true
    IndentBraces: true
